[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    pass

[run]
omit = 
    */main.py
    */pytest.ini
    */pylintbadge.py
    */getReports.py
    */Tests/*
    */__init__.py
    */IntegrationTests/*
    */SystemTests/*